@model Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    ViewBag.TituloPagina = "Dashboard";
    ViewBag.DescricaoPagina = "";
}

<div class="box-header"></div>
<!-- /.box-header -->
<div class="box-body">
    <h1>Home</h1>
</div>
<!-- /.box-body -->